# Ignore the build directory
build
build/*

# Ignore generated ASM
*.s

# Ignore python compiled files
*.pyc

# Ignore files with no extension
# (Not a foolproof solution)
#*
#!*.*
tests/*
!tests/*.*
tests/*.s
